@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>Cheapest Books</h2>
@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var book in Model)
        {
            <li>@book.Name - @book.Price.ToString("C")</li>
        }
    </ul>
}
else
{
    <p>No books found.</p>
}
